@font-face {
  font-family: "Circle";
  src: url("./fonts/Circe.otf");
  /* Дополнительные свойства шрифта, если необходимо */
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus, textarea:focus, input:focus {
    font-size: 16px;
  }
}

body {
  font-family: "Circe", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  background: white;
}

.App {
  text-align: center;
  margin-top: 18px;
  max-width: 560px;
}

.primaryButton {
  font-family: "Circe", sans-serif;
  cursor: pointer;
  padding: 8px 23px;
  border-radius: 100px;
  height: 48px;
  width: 120px;
  background: #c6007f;
  color: white;
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
  border: none;
  letter-spacing: 1px;
  -webkit-tap-highlight-color: transparent;
}

.container:nth-child(n+1) {
  margin-top: 24px;
}

.estimateDescription {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding: 18px;
  border: 1px solid #c6007f;
  border-radius: 40px;
}

.previousButton {
  border: 2px solid #c6007f;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.controlWrapper {
  margin-top: 24px;
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
}


